<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <div class="row">
	<div class="col-md-4"></div>
  <div class="col-md-4">
	<h2>Log in or <a href="/signup">Sign Up</a></h2>
			<%= form_for :user, url: "/signin" do |f| %>
			<div>
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control"  %><br/>			
			<%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
  </div>
	<div class="col-md-4"></div>
</div>

